body {
  background-color: grey;
}

.form-control {
  border-color: black;
  // margin-top: -40px;
}

// #formFilter {
//   margin-top: -40px;
// }

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: fill;
  border-style: solid;
  border-width: 2px;
}

.card {
  margin-bottom: 35px;
  border-color: black;
}

.navbar {
  height: 5vw;
}

.navbar-brand:hover {
  color: white;
}

.navbar-link {
  padding-top: 18px;
}

.navbar-link:hover {
  color: white;
}

.btn-link:hover {
  font-weight: 700;
}

.movie-list-heading {
  text-align: center;
  cursor: default;
}

#myHeader {
  font-size: 2.5rem;
  text-align: center;
  margin-top: -40px;
  margin-bottom: -10px;
}
