.h2,
h2 {
  text-decoration: underline;
  cursor: default;
}

label {
  font-weight: 600;
  color: black;
}

.form-text {
  color: red !important;
}

.btn-secondary {
  background-color: black;
  color: white;
}
