// body {
//   color: black;
//   text-align: center;
// }

.title-heading {
  text-align: center;
  cursor: default;
}

.login-view-title {
  font-size: 5rem;
  text-decoration: underline;
  cursor: default;
}

.text-muted {
  color: black !important;
}

.text-primary {
  color: blue !important;
}

.login-button {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
}
